/* Table Of Content */
/*
https://coolors.co/000000-2b2b2b-007bff-2cbad3-ffffff
1. Section Settings
2. Section Carousel
*/

/* Section Settings */
.bg-alpha{
    background: rgb(0,0,0,0.5);
}
#navbar{
    padding: 20px;
    transition: 0.5s;
}
html,body{
    height: 100%;
}
/* Section Carousel */
.carousel,.carousel-item,.carousel-inner,.active{
    height: 100%;
}
.carousel-img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.search{
    border-radius: 20px;
}
/* Section Footer */
.semi-footer{
    background-color: #2b2b2b;
    color: #dcdcdc
}
.semi-footer a{
    color: #dcdcdc;
}
.semi-footer h4{
  color: #2cbad3;
  border-bottom: 1px solid;
  padding: 10px 0;
}
.footer{
    background: #000000;
    color: #fff;
    font-size: 0.7rem;
    height: 90px;
    line-height: 90px;
    text-align: center;
}
/* Set the size of the div element that contains the map */
#map {
    height: 300px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
/*  Section Products  */
.products{
    position: relative;
    display: block;
    padding-top: 150px;
    padding-bottom: 100px;

}
.products h2{
    margin: 0px;
    border-radius: 20px;
    background-color: #a4a4a5;
    width: 200px;
    font-size: 1em;
    line-height: 1.5;
    color: #ffffff;
    padding: 7px 20px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
    clear: both;
}

.products h2 a{
    color: #ffffff;
}
.products h2 a:hover{
    color: #ffffff;
    font-weight: bold;
}

.products a{
    text-decoration: none;
}
.products a:hover{
    color: #a4a4a5;
    font-weight: bold;
    text-decoration: none;
}
.products ul{
    color: #a4a4a5;
    position: relative;
    clear: both;
}
.products ul li a{
    color: #a4a4a5;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}




.l_products img{
    width: 100%;
    border: 1px solid #e0e0e0;
}

.r_products{
    padding-top: 50px;  
}

.r_products p{
   font-size: 25px;
}

.wrapper-card-img{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.wrapper-card-img img{
   position: absolute;
   top: 0;
}